.c-main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: calc(100vh - 50px);
    width: 100px;
    background: #4d4d4d;
    color: white;
    /*padding: 4px;*/
    box-sizing: border-box;
}
.c-main-nav_item {
    text-decoration: none;
    width: calc(100% - 8px);
    border-bottom: 1px solid white;
    padding: 10px 0;
    margin: 4px;
    box-sizing: border-box;
    height: 100px;
}
.c-main-nav_item:last-child {
    /*border-bottom: none;*/
}
.c-main-nav_item a {
    text-decoration: none;
    color: white;
}
.c-main-nav_item * {
    display: flex;
    flex-direction: column;
    flex-basis: inherit;
    color: white;
    width: 100%;
}