.c-search {
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
}

.c-search__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.c-search__icon {
    opacity: 0.9;
    color: white;
}

.c-search__input {
    padding-left: 10px;
    border: none;
    width: 80%;
    text-align: left;
    text-decoration: none;
    outline: none;
    width: 100%;
}

.c-search__button {
    min-width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}