.l-color-form {
    background-color: #cccccc;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.c-color-form {
    /*background-color: #ff3224;*/
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 960px;
}
.c-color-form input {
    border-radius: 5px;
    height: 40px;
    margin: 0 10px;
    border: none;
    text-decoration: none;
    outline: none;
    font-weight: 700;
    font-size: medium;
}
.c-color-form__text-input {
    height: 100%;
    min-width: 60%;

}
input[type=text] {
    color: rgb(87, 87, 87);
    padding: 0 10px;
}
input[type=button]:hover {
    background-color: #9f9f9f;
}
input[type=button] {
    padding: 0 20px;
    color: white;
    background-color: #6c6c6c;
    transition: background-color 0.2s;
}
input[type=color] {
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;

}